# Compiled binaries
ising1d
ising2d
ising2d_fss
test_pcg
test_suite

# Object files
*.o

# Other compiled outputs
*.out
*.exe

# 3D Ising model binaries
ising3d
ising3d_fss

# Data files
*.txt
fss_data*.txt
